# Python 관련
__pycache__/
*.py[cod]
*.pyo
*.so

# 가상 환경
venv/
env/
path/to/venv/

# 데이터베이스 파일
*.db
*.sqlite3

# 로그 파일
*.log

# 임시 파일
*.tmp
*.bak
*.swp
*.swo
*.DS_Store

# IDE 설정 파일
.vscode/
.idea/

# OS 관련 파일
Thumbs.db
.DS_Store